.container{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.default_container{
    width: 200px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}
.input{
    outline: 0;
    border: 0;
}
.input_icon{
    height: 15px;
}
.container:hover{
    box-shadow: 0 2px 2px 1px #82a7f3;
}
.container:focus-within{
    border: 2px solid #254b99;
}
.container:active{
    border: 1px solid rgba(33, 33, 128, 0.67);
}
.disabled {
    opacity: 0.5
}
.disabled:hover{
    box-shadow: none;
}
.disabled:active{
    border: 1px solid #000000;
}
.label{
    display: block;
    position: absolute;
    font-size: 7px;
    bottom: 10px;
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
}
.label_active{
    transform: translateY(-18px);
    opacity: 1;
}
.non_empty{
    border: 1px solid #AAA;
}
